@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.search-field {
    padding-top: 25px;
}
.add-margin-bottom {
    margin-bottom: 20px;
}
.new-button {
    float: right;
    margin-bottom: 20px;
}
.edit-button {
    margin-right: 10px;
}
.actions-buttons {
    button,
    a {
        display: inline-block;
        margin-right: 10px;
    }
}
table {
    tbody tr td {
        padding: 10px!important;
    }
    a {
        margin-right: 10px;
    }
}
nav {
    min-height: 50px!important;
    margin-bottom: 20px!important;
    border: 1px solid transparent!important;
    border-radius: initial!important;
}
